.sofa{

    &__top{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__left-images{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 590px;
        height: 237px;
        margin-bottom: 32px;
        background-color: #4F1F1B;
    }

    &__tissues-img{
        padding-top: 10px;
        object-fit: cover;
        filter: drop-shadow(7px -9px 40px gray);
    }
    &__title-info{
        font-family: 'Lato', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 36px;
        color: #FFFFFF
    }
    &__text-info{
        text-overflow: ellipsis;
        white-space: wrap;
        overflow: hidden;
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: #FFFFFF;
        width: 275px;
        height: 40px;
        padding-top: 5px;
    }

    &__left-wipes{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #242424;
        width: 590px;
        height: 227px;
    }

    &__wipes-img{
        padding-top: 30px;
        padding-left: 10px;
        filter: drop-shadow(7px -9px 40px gray);
    }

    &__right{
        display: flex;
        width: 590px;
        height: 492px;
        margin-left: 30px;
        background-color: #A9ABAF;
    }

    &__right-info{
        margin-left: -60px;
        padding-top: 66px;
    }

    &__right-img{
        margin-top: 85px;
        padding-left: 20px;
        object-fit: cover;
        width: 368px;
        height: 386px;
    }

    &__bottom{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 40px;
    }

    &__bottom-left{
        display: flex;
        align-items: flex-start;
        background-color: #DDD1A1;
        width: 295px;
        height: 230px;
        padding-left: 20px;
        padding-top: 34px;
    }

    &__bottom-img1{
        width: 209px;
        height: 196px;
        object-fit: cover;
    }

    &__bottom-img2{
        width: 620px;
        height: 190px;
        filter: drop-shadow(7px 8px 14px rgb(241, 228, 228));
    }
    &__bottom-right{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 835px;
        height: 260px;
        background-color: #FFC740;
        padding-right: 30px;
        margin-left: 30px;
    }

    &__right-info{
        padding-left: 42px;
        padding-bottom: 90px;
    }
}

.bottom__title-info {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 36px;
    margin-left: 10px;
    color: #121212;
}

.bottom__text-info {
    text-overflow: ellipsis;
    white-space: wrap;
    overflow: hidden;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    width: 230px;
    margin-left: 15px;
    height: 40px;
    color: #656565;
}

.bottom__left-info {
    margin-left: 20px;
}

.left-bottom__text-info {
    text-overflow: ellipsis;
    white-space: wrap;
    overflow: hidden;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    width: 110px;
    height: 40px;
    color: #656565;
}